body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(../static/img/background.jpg) no-repeat center;
	background-size: cover;
	font-family: 'Times New Roman', Times, serif;
}
a {
	text-decoration: none;
	background-color: transparent;
	color: #ededed;
}
.header {
	background-color: rgba(0, 0, 0, 0.7);
 	color:#fff;
 	border-color: #080808;
 	min-height: 50px;
 	border: 1px solid transparent;
}
.innerheader {
	width: 80%;
	margin: auto;
}
.logo {
	float: left;
	height: 50px;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
}
.header-links {
	float: right;
	height: 50px;
	padding: 15px 15px;
	font-size: 16px;
	font-weight: bold;
}
.content {
	min-height: 600px;
}
.banner-image {
	padding-bottom: 50px;
 	margin-bottom: 20px;
 	text-align: center;
 	color: #f8f8f8;
 	background: "{{ url_form('static/img'), filename='back.jpg' }}" no-repeat center;
 	background-size: cover;
}
.inner-banner-image {
	padding-top: 6%;
	width: 80%;
}
.banner-content {
 	padding-top: 6%;
 	padding-bottom: 6%;
	 margin-top: 0;
 	overflow:hidden;
 	background-color: rgba(0, 0, 0, 0.7);
 	max-width: 660px;
	 border-radius: 30%;
}
.button {
	color: #fff;
 	background-color: rgba(255, 0, 0, 0.5);
 	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 	padding: 10px 16px;
 	font-size: 18px;
 	border-radius: 6px;
	border: 4px solid black;
}

.button:hover {
	background-color: rgba(255, 0, 0, 1);
}

.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

input {
	border: 2px solid white;
	border-radius: 5px;
}

.result {
	font-size: 30px;
	color: red;
	font-style: italic;
	font-weight: bolder;
	background-color: rgba(256, 256, 256, 1);
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}